

@media all and (max-width: 5000px){
body{;
background-color:#F8F1E4;
display: flex: ;
justify-content: center;
border: solid 25px;
border-color: #1A351A;

}
/*header*/


.logocontainer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.logo{
  width: 600px;
 vertical-align: middle;
}
.navbar{
  display: flex;
  justify-content: space-around;
  font-family: "prohibition", sans-serif;
  font-size: 22px;
  color: #C12126;
}
a:link{
  color: #C12126;
  text-decoration: none;
}
a:visited{
  color: #C12126;
  text-decoration: none;
}
a:hover{
  color: #D6C263;
  text-decoration: none;
}
a:active{
  color: #988631;
  text-decoration: none;
}
hr{
  background-color: #C12126;
  border: none;
  width:90%;
  height: 2px;
}

 /*main*/


.hero{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 50px;
}
.text{
  width: 407px;
  height: 300px;
}
.contacttext{
  color: #C12126;
  font-family: "prohibition", sans-serif;
  font-size: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: underline;
  
  

}
.address{
  color: #C12126;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;

}
.phone{
  color: #C12126;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  

}
.text{
  width: 500px;
}
.mapcontainer{
  width: 50%;
  display: flex;
  justify-content: center;
}

 /*footer*/


.footer{
  background-color: #988631;
  height: 150px;
  display: flex;
  justify-content: space-between;
  }
.footercontact{
  margin-top: 10px;
  
}
.socials{
  align-self: center;
  display: flex;
  gap: 10px;
  margin-left: 30px;
}
.footerinfo{
  display: flex;
  text-align: center;
  font-family: "prohibition", sans-serif;
  color: #C12126;
}

.invisibleitem{
  width: 130px;
  margin-right: 20px;
  
}
 
.facebookicon{
  width: 40px;
  height: 40px;
  opacity: 75%;
  
}
.instagramicon{
  width: 40px;
  height: 40px;
  opacity: 75%;
  
}
.twittericon{
  width: 42px;
  height: 40px;
  opacity: 75%;
}

}
